.task
  %h1.task_title= @task.title
  - if user_signed_in? && current_user.has_create?(@task)
    .task_detail_actions
      .dropdown
        = image_tag 'action.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'Edit', edit_board_task_path(@task)
          = link_to 'Delete', board_task_path(@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'}
  - if @task.eyecatch.attached?
    .task_image
      = image_tag @task.eyecatch
  .task_content
    = @task.content
  .comment_title
    %p Comment
  - @comments.each do |comment|
    .task_comment
      .task_comment_avatar
        = image_tag comment.user.avatar_image, class: 'header_avatar dropbtn'
      %p= comment.content
  = link_to new_board_task_comment_path(task_id: @task.id) do
    .new_comment_card
      .new_comment_card_title
        %p + Add new comment
