.container
  %h2 All Boards
  - @boards.each do |board|
    .card
      .card_container
        - if user_signed_in? && current_user.has_written?(board)
          .card_detail_actions
            .dropdown
              = image_tag 'action.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to 'Edit', edit_board_path(board)
                = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'}
      = link_to board_path(board) do
        .card_title
          = board.title
        .card_content
          = board.content
        -# .card_detail
          = image_tag article.user.avatar_image
          %div
            %p= article.author_name
            %p= article.display_created_at
  = link_to new_board_path do
    .new_card
      .new_card_title
        %p + Add new board